.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

.letter,
.timer {
  font-size: 210px;
}

.button {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 24px;
}

.button:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .letter,
  .timer {
    font-size: 160px;
  }
}

@media screen and (max-width: 424px) {
  .letter,
  .timer {
    font-size: 120px;
  }
}
